---
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/IntroSection.astro';
import Vacancy from '../components/Vacancy.astro';
import { createDirectus, readItems } from '@directus/sdk';
import directus from '../lib/directus';

const vacatures = await directus.request(
  readItems("/dda_agencies_vacancies", {
    fields: [
      "title",
      "locatie",
      "hours",
    ],
  })
);

---

<Layout title="DDA">
  <IntroSection
        title="Vacatures"
        subtitle="Verslim je carrière bij de beste digitale bureaus van Nederland. Pak je rol als developer of designer, researcher, als scrum master of marketeer, als strateeg. Start of groei door – en laat zien wat je kan."
  />
  
  <section class="vacancies-section">
    {vacatures.map((vacature) => (
      <Vacancy
        title={vacature.title}
        language="/"
        company="/"
        hours={vacature.hours}
        city={vacature.locatie}
        href="/"
        client:visible
      />
    ))}
  </section>
    
</Layout>

<style>
  .vacancies-section {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 686px){
    .vacancies-section {
      margin: 0 2.5% 0% 2.5%;
    }
  }


</style>



