---
interface Props {
    title: string; //title is required and must be a string.
    subtitle?: string; //subtitle is optional, but if present, it must be a string.
}

const {title, subtitle} = Astro.props;

---

<section class="intro-section">
    <!--Link Component -->
    <h1>{title}</h1>
    <p><slot name="subtitle">{subtitle}</slot></p>
</section>

<style>
    .intro-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.55em;
        margin: 7.5% 10% 10% 10%;
    }
    @media (min-width: 842px ){
        .intro-section {
            margin: 7.5% 20% 15% 20%;
        }
    }
    @media (min-width: 1332px ){
        .intro-section {
            margin: 7.5% 25% 15% 25%;
        }
    }
</style>